@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
    @page {
        size: A4;
        zoom: 65%;
    }

    body {
        background-color: white !important;
        color: black !important;
    }
    
    ::placeholder {
        color: transparent !important;
    }

    /* Hide prefixes in InputField */
    .flex.items-center.border-b.border-gray-300.focus-within\:border-blue-500 span {
        display: none;
    }

    input[type="text"], input[type="number"] {
        border: 1px solid black !important;
        background-color: transparent !important;
        box-shadow: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        padding: 2px !important;
        margin: 0 !important;
    }

    /* Ensure labels are visible */
    label {
        color: black !important;
    }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}