@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@page {
  margin-top: 4mm;
  margin-right: 7mm;
  margin-bottom: 5mm;
  margin-left: 7mm;
}

@media print {
  
    body {
        background-color: white !important;
        color: black !important;
        
    }

    
    
    ::placeholder {
        color: transparent !important;
    }

    input[type="text"], input[type="number"] {
        background-color: transparent !important;
        box-shadow: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        margin: 0 !important;
        border: 1px solid black !important;
    }
    
    input.print-border-b {
        border: none !important; /* Resetting the border */
        border-bottom: 1px solid black !important; /* Applying only bottom border */
        border-radius: 0 !important; /* Removing any border radius */
    }

    .print-etapas-input {
        width: 95% !important;
    }

    .print-etapas-date-input {
        width: 95% !important;
        text-align: center;
    }

    select.print-judicial-select {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        border: none !important;
        background-image: none !important;
        padding-left: 1rem !important;
        background-color: transparent !important;
    }

    .print-judicial-container {
        border-bottom: 1px solid black !important;
    }

    table input[type="text"], table input[type="number"] {
        border: none !important;
    }

    td.bg-orange-100\/50 {
        background-color: #e9e8e89d !important;
    }
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}